.ny-info {


    &__head {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 2rem;

        max-width: 82rem;
        margin-bottom: 3.2rem;
    }

    &__title {
        @include font(4rem, 1.0, 800);

        color: #5229A1;
    }

    &__cities {
        @include font(1.6rem, 1.0, 300);
        font-style: italic;
    }

    &__desc {
        display: flex;
        align-items: stretch;
        flex-direction: column;
        gap: 1.5rem;

        @include breakpointMF(portait-tablet) {
            flex-direction: row;
            gap: 3rem;
        }

        &>p {
            color: #1E1E1E;
            @include font(1.6rem, 1.1, 500);
        }
    }

    &__list {
        display: flex;
        gap: 1.7rem;

        @include breakpointMF(portait-tablet) {
            gap: 5rem;
        }
    }

    &__item {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__value {
        color: #FF5129;
        letter-spacing: -0.01em;
        text-transform: uppercase;
        @include font(3.6rem, 1.1, 800);

        @include breakpointMF(portait-tablet) {
            @include font(5.2rem, 1.1, 800);
        }
    }

    &__key {
        @include font(1rem, 1.1, 800);
        width: min-content;

        color: #060606;
        text-transform: uppercase;
        font-style: italic;

        @include breakpointMF(portait-tablet) {
            width: auto;
            @include font(2rem, 1.1, 800);
        }
    }
}
