.ny-welcome {

    &.section {
        margin-bottom: 4.5rem;
    }

    &__site-container {
        @extend ._intro-padding-top;
    }

    &__body {
        position: relative;

        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 8rem;

        padding-block: 5.7rem;

        background: linear-gradient(158deg, #5229A1 -0.74%, #FF5129 101.44%);
        border-radius: 1.5rem;
    }

    &__body::after {
        position: absolute;
        inset: 0;
        z-index: 200;

        background-image: url('./../images/intro-back.png');
        background-position: top left;
        background-repeat: no-repeat;
        background-size: contain;
        content: "";
        pointer-events: none;
    }

    &__article {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 3rem;

        color: #FFF;

        &>* {
            text-align: center;
        }
    }

    &__title {
        @include font(5.6rem, 1.10, 800);
    }

    &__text {
        @include font(3.2rem, 1.10, 500);
        max-width: 40ch;
        font-style: italic;
    }

    &__gift {
        position: absolute;
        top: 50%;
        left: 0;

        height: 40rem;
        transform: translateY(-50%);
    }

    &__candy {
        position: absolute;
        bottom: 0;
        right: 0;

        height: 22.2rem;
        transform: translateX(-20%);
    }
}
