.ny-carousel {
    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: 5rem;
    }

    &__slide {
        flex-basis: 100%;

        @include breakpointMF(portait-tablet) {
            flex-basis: calc(100% / 3 - (5rem * 2 / 3));
        }
    }
}
