.ny-locations {
    &.section {
        margin-bottom: 10rem;
    }

    &__list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 6rem;
    }
}
