.ny-stats {
    position: relative;

    &__image {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 10;

        width: 100%;

        img {
            display: block;

            height: 100%;
            transform: translateX(-13%);
        }
    }

    &__site-container {
        position: relative;
        z-index: 200;

        padding-block: 23rem 30rem;
    }

    &__list {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 4rem;

        margin-left: auto;
        max-width: 70rem;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        flex: 1 1 25%;

        color: #FFF;

        &:first-child {
            flex: 1 0 min-content;
            max-width: max-content;
            margin-left: auto;

            .ny-stats__number {
                color: #FF5129;
                text-shadow: 0px 0px 12.56px #FF5129;

                @include font(16.8rem, 1.10, 800);
            }

            .ny-stats__text {
                @include font(3.4rem, 1.10, 800);
            }
        }
    }

    &__number {
        @include font(11.32rem, 1.10, 800);
        letter-spacing: -0.01em;
        text-transform: uppercase;
        white-space: nowrap;
        filter: drop-shadow(189.057px 87.2925px 58.2827px rgba(0, 0, 0, 0.01)) drop-shadow(121.038px 55.8488px 53.2833px rgba(0, 0, 0, 0.07)) drop-shadow(68.0842px 31.4437px 44.9948px rgba(0, 0, 0, 0.25)) drop-shadow(30.2596px 13.9457px 33.3514px rgba(0, 0, 0, 0.43));
    }

    &__text {
        @include font(3.2rem, 1.10, 800);
        text-transform: uppercase;
        white-space: nowrap;
        filter: drop-shadow(189.057px 87.2925px 58.2827px rgba(0, 0, 0, 0.01)) drop-shadow(121.038px 55.8488px 53.2833px rgba(0, 0, 0, 0.07)) drop-shadow(68.0842px 31.4437px 44.9948px rgba(0, 0, 0, 0.25)) drop-shadow(30.2596px 13.9457px 33.3514px rgba(0, 0, 0, 0.43));

    }
}
