.search-bar {
    position: relative;

    width: 100%;

    &__input {
        @include font(1.6rem, 1.0, 500);

        width: 100%;
        height: 4rem;
        padding: 1.2rem 2rem 1.2rem 4.5rem;

        background-color: #D9D9D9;
        border-radius: 1rem;
        backdrop-filter: blur(12.5px);

        border: none;
        outline: none;

        @include placeholder() {
            @include font(1.6rem, 1.0, 500);
            opacity: 0.5;
        }
    }

    i {
        position: absolute;
        top: 1rem;
        left: 1.4rem;
        z-index: 100;

        width: 2rem;
        height: 2.2rem;

        background-image: url('data:image/svg+xml, %3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%2220%22%20height%3D%2223%22%20viewBox%3D%220%200%2020%2023%22%20fill%3D%22none%22%3E%0A%20%20%3Cpath%20opacity%3D%220.5%22%20d%3D%22M11.3238%2017.3612C12.352%2017.1164%2013.3144%2016.6487%2014.1454%2015.99L17.6952%2019.1719C17.9419%2019.3932%2018.2641%2019.5066%2018.591%2019.487C18.9178%2019.4675%2019.2226%2019.3167%2019.4382%2019.0677C19.6538%2018.8187%2019.7626%2018.4921%2019.7406%2018.1595C19.7186%2017.8269%2019.5677%2017.5158%2019.321%2017.2944L15.807%2014.1428C16.7354%2012.6763%2017.1299%2010.9225%2016.9226%209.18261C16.7154%207.44275%2015.9193%205.82547%2014.6712%204.60862C13.423%203.39178%2011.8008%202.65132%2010.0831%202.51446C8.36542%202.3776%206.65953%202.85289%205.25851%203.85866C3.85749%204.86444%202.84879%206.33791%202.4057%208.02595C1.96262%209.714%202.11281%2011.5112%202.83047%2013.1089C3.54814%2014.7065%204.78847%2016.0049%206.33839%2016.7809C7.88831%2017.5569%209.65106%2017.7621%2011.3238%2017.3612ZM8.40592%205.13381C9.35533%204.90725%2010.3519%204.97262%2011.2695%205.32167C12.1872%205.67072%2012.9847%206.28776%2013.5613%207.09477C14.1379%207.90177%2014.4676%208.8625%2014.5088%209.85545C14.55%2010.8484%2014.3008%2011.829%2013.7927%2012.6732C13.2846%2013.5174%2012.5404%2014.1873%2011.6543%2014.5983C10.7682%2015.0092%209.77988%2015.1427%208.8144%2014.9818C7.84893%2014.8209%206.94964%2014.3729%206.23024%2013.6945C5.51084%2013.0161%205.00366%2012.1376%204.77281%2011.1703C4.46327%209.87311%204.67214%208.50839%205.35348%207.37633C6.03482%206.24428%207.13281%205.43761%208.40592%205.13381Z%22%20fill%3D%22%231E1E1E%22%2F%3E%0A%3C%2Fsvg%3E');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;

        pointer-events: none;
    }

    &__dropdown {
        position: absolute;
        top: calc(100% + 1.7rem);
        left: 0;
        z-index: 300;

        width: 100%;
        display: none;
    }

    &__dropdown-list {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 1.2rem;

        padding: 2rem 1.5rem;
        background: #D9D9D9;
        backdrop-filter: blur(12.5px);
        border-radius: 9px;
    }

    &__dropdown-link {
        color: #1E1E1E;
        @include font(1.6rem, 1.0, 500);
    }

    &.search-bar--show-dropdown {
        .search-bar__input {
            &+.search-bar__dropdown {
                display: block;
            }
        }
    }

    &.search-bar--static {
        .search-bar__dropdown {
            position: static;

            margin-top: 1rem;
        }
    }
}
