html {
    font-size: 8px;
    box-sizing: border-box;
    -webkit-text-size-adjust: 100%;
    scroll-behavior: smooth;
    scroll-padding-top: 5rem;

    @include breakpointMF(small-mobile) {
        font-size: 10px;
    }

    @include breakpointMF(portait-tablet) {
        font-size: 10px;
        font-size: unquote("clamp(4.3px, 0.47vw, 25px)");
    }

    @include noHighlight();
}

body {
    position: relative;
    min-width: 319px;
    color: #252525;
    text-rendering: optimizeSpeed;
    scroll-behavior: smooth;

    @include text-default;
}
