@font-face {
    font-family: "Uni Neue";
    font-style: normal;
    font-weight: 500;
    src: local("Uni Neue"),
        url("../../fonts/UniNeueRegular.woff2") format("woff2");
}

@font-face {
    font-family: "Uni Neue";
    font-style: normal;
    font-weight: 700;
    src: local("Uni Neue"),
        url("../../fonts/UniNeueBold.woff2") format("woff2");
}

@font-face {
    font-family: "Uni Neue";
    font-style: normal;
    font-weight: 800;
    src: local("Uni Neue"),
        url("../../fonts/UniNeueHeavy.woff2") format("woff2");
}
